@import url(../../fonts/fonts.scss);

.taskInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 120px;
    font-family: 'InterRegular';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    .totalContainer {
        display: flex;
        flex-direction: row;
        span {
            color: #4EA8DE;
        }
        .totalCounter {
            margin-left: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            min-width: 25px;
            width: auto;
            height: 19px;  
            background: #333333;
            border-radius: 999px;
            font-family: 'InterBold';
            font-style: normal;
            font-weight: 700;
            font-size: 12px;
            line-height: 15px;      
            color: #D9D9D9;  
        }
    }
    .doneContainer {
        display: flex;
        flex-direction: row;
        span {
            color: #8284FA;
        }
        .doneCounter {
            margin-left: 8px;
            display: flex;
            padding-right: 9px;
            padding-left: 9px;
            justify-content: center;
            align-items: center;
            width: auto;
            height: 19px;  
            background: #333333;
            border-radius: 999px;
            font-family: 'InterBold';
            font-style: normal;
            font-weight: 700;
            font-size: 12px;
            line-height: 15px;      
            color: #D9D9D9; 
        }

    }
}
